Options +ExecCGI -Indexes
<Files action>
    SetHandler fcgid-script
</Files>

RewriteEngine On
RewriteCond %{REMOTE_ADDR} !^192\.168\.
RewriteCond %{REQUEST_URI} /action/post$ [NC]
RewriteRule . - [F]
