<html>
<title>The additional confirmation step of the message posted for <tmpl_var name="listto"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../../mmpostauth.css" type="text/css" />
<body>
<h1>Additional Confirmation Step</h1>
<p>
The additional confirmation step is required, because your message
posted for <code><tmpl_var name="listto"></code> is received from an untrusted mail server.
Do you really want to deliver the following message?
</p>
<ul>
 <li>From: <tmpl_var name="envfrom"></li>
 <li>To: <tmpl_var name="envto"></li>
 <li>Subject: <tmpl_var name="subject"></li>
 <li>Date: <tmpl_var name="date"></li>
 <li>Message-ID: <tmpl_var name="messageid"></li>
</ul>
<form action="../approve/<tmpl_var name="cookie">" method="post" accept-charset="UTF-8">
<input type="submit" value="YES, I want to deliver this message." />
</form>
<form action="../revoke/<tmpl_var name="cookie">" method="post" accept-charset="UTF-8">
<input type="submit" value="NO, I want to discard this message." />
</form>
<hr>
</body>
</html>
