h1, h2 {
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: inherit;
	background-color: #DDEEFF;
	padding: .3em;
	border: 0px;
	margin: 0px 0px .5em 0px;
}

h3 {
	font-family: verdana, arial, helvetica, Sans-Serif;
	border-bottom:  3px solid #DDEEFF;
	border-top:     1px solid #DDEEFF;
	border-left:   10px solid #DDEEFF;
	border-right:   5px solid #DDEEFF;
	color: inherit;
	background-color: #FFFFFF;
	padding: .3em;
	margin: 0px 0px .5em 0px;
}

h4 {
	font-family: verdana, arial, helvetica, Sans-Serif;
	border-left: 18px solid #DDEEFF;
	color: inherit;
	background-color: #FFFFFF;
	padding: .3em;
	margin: 0px 0px .5em 0px;
}

h5, h6 {
	font-family: verdana, arial, helvetica, Sans-Serif;
	color: inherit;
	background-color: #DDEEFF;
 	padding: .3em;
 	border: 0px;
 	margin: 0px 0px .5em 0px;
}
