The additional confirmation step is required, because your message
posted for <tmpl_var name="listto"> is received from an untrusted mail server.
Access the following url:

    https://example.net/mmpostauth/action/confirm/<tmpl_var name="cookie">

-- 
Postmaster of example.net
