The additional confirmation step is required, because your message
posted for <tmpl_var name="listto"> is received from an untrusted mail server.
Access the following url:

    <tmpl_var name="baseurl">/confirm/<tmpl_var name="qid">
