<html>
<title>The additional confirmation step of the message posted for <tmpl_var name="listto"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../../mmpostauth.css" type="text/css" />
<body>
<h1>Additional Confirmation Step</h1>
<p>
Your message, whose detail is described as follows, has been revoked.
</p>
<ul>
 <li>From: <tmpl_var name="from"></li>
 <li>To: <tmpl_var name="to"></li>
 <li>Subject: <tmpl_var name="subject"></li>
 <li>Date: <tmpl_var name="date"></li>
 <li>Message-ID: <tmpl_var name="messageid"></li>
</ul>
</body>
</html>
